[submodule "hyeyukim"]
	path = hyeyukim
	url = https://github.com/hey-uu/Algorithm_study.git
[submodule "chanheki"]
	path = chanheki
	url = https://github.com/chanheki/AlgorithmicProblemSolvingStrategies
[submodule "yonshin"]
	path = yonshin
	url = git@github.com:sindydwns/algorithm-study.git
[submodule "daegulee"]
	path = daegulee
	url = https://github.com/daekuelee/algoStudy.git
